.font-logo{
      font-family: "Alata", "sans-serif";
      color: #000000;
}
.nav-bg{
    background: #e1ad01;
}
.cover-section {
    text-align: center;
    background-image: url('../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    padding-top: 30.25rem;
    padding-right: 3.125rem;
    padding-left: 3.125rem;
}
.cover-section h2{
    font-family: "Montserrat", "sans-serif";
    font-weight: 200;
    margin-bottom: 0em;
}
h1{
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    border-top-color: #FFFFFF;
    margin-top: 0em;
}
.exper-1{
    width: 25%;
}
.exper-2{
    height: 5em;
}
.border-none{
    border: 0;
}
.icons-section .footer-text,
.icons-section .icons-img {
    display: inline-block;
}
.footer-text{
    font-family: "Alata", "sans-serif";
    color: #000000;
    font-size: 2em;
}
.icons-img{
    font-size: 0.5em;
    fill: #000000;
}
.icons-img a{
    text-decoration: none;
    color: #000000;
}

.carousel-indicators {
    top: 120px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 0;

    background: #373A3C;

}   